body{
  background-color: white;
}
#entete{
  background-color: #EFECCA;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 120px;
}
  #image{
    height:60px;
    margin-left: 15px;
    width:60px;
  }
  #nom{
    color: blue;
    font-family: Times;
    font-size: 30;
    margin-top: 130px;
    text-align: center;
  }
    #age{
      color: blue;
      font-family: Times;
      font-size: 16;
      font-style: italic;
      text-align: center;
    }
    #adresse{
      color: blue;
      font-family: Times;
      font-size: 16;
      font-style: italic;
      text-align: center;
    }
    #poste{
      color: blue;
      font-family: Times;
      font-size: 20;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 5px;
      text-align: center;
    }
  #image1{
    height:60px;
    margin-left: 1075px;
    text-align: right;
    width:60px;
  }
#nav{
  color: #C44C51;
  font-family: Times;
  font-size: 28;
  font-weight: bold;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
#skills{
  background-color: #EFECCA;
  color: #C44C51;
  font-family: Times;
  font-size: 28;
  font-weight: bold;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
  #langue{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #detail{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
  #info{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #detail1{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
#exp{
  color: #C44C51;
  font-family: Times;
  font-size: 28;
  font-weight: bold;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
  #saisonnier{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #detail2{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
      #lien{
        font-family: Times;
        font-size: 24;
        margin-left: 35px;
      }
  #stage{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #detail3{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
      #lien1{
        font-family: Times;
        font-size: 24;
        margin-left: 35px;
      }
  #stage1{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #detail4{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
      #lien2{
        font-family: Times;
        font-size: 24;
        margin-left: 35px;
      }
#cursus{
  background-color: #EFECCA;
  color: #C44C51;
  font-family: Times;
  font-size: 28;
  font-weight: bold;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
  #licence{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #adresse1{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
      #lien3{
        font-family: Times;
        font-size: 24;
        margin-left: 35px;
      }
  #bts{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #adresse2{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
      #lien4{
        font-family: Times;
        font-size: 24;
        margin-left: 35px;
      }
  #bacs{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #specialite{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
    #adresse3{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
      #lien5{
        font-family: Times;
        font-size: 24;
        margin-left: 35px;
      }
#autre{
  color: #C44C51;
  font-family: Times;
  font-size: 28;
  font-weight: bold;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
  #categorie{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #tv{
      color: #BF8273;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
      #detail5{
        color: black;
        font-family: Times;
        font-size: 24;
        margin-left: 35px;
      }
    #sport{
      color: #BF8273;
      font-family: Times;
      font-size: 24;
      margin-left: 25px;
    }
      #detail6{
        color: black;
        font-family: Times;
        font-size: 24;
        margin-left: 35px;
      }
  #news{
    color: #8FCF3C;
    font-family: Times;
    font-size: 24;
    margin-left: 15px;
  }
    #detail7{
      color: black;
      font-family: Times;
      font-size: 24;
      margin-left: 35px;
    }
#contact{
  background-color: #EFECCA;
  color: #C44C51;
  font-family: Times;
  font-size: 28;
  font-weight: bold;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
  #formulaire{
    color: black;
    font-family: Times;
    font-size: 24;
    margin-left: 20px;
  }
